html,body{
    height: 100vh;
    --fontSize:20px;
}

body{
    display: flex;
    flex-flow: column nowrap;

    main{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .gameBoard{

            .row{
                position: relative;
                display: flex;
                .tile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px black solid;
                    width: 120px;
                    height: 100px;
                    

                    .token{
                        content: "";
                        display: block;
                        border: none;
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                        animation: .5s ease-in-out reverse falldown;

                        &.red{
                            background-color: red;
                        }

                        &.yellow{
                            background-color: yellow;
                        }

                        &.blue{
                            background-color: blue;
                        }

                        &.green{
                            background-color: green;
                        }

                        &.black{
                            background-color: black
                        }

                        &.purple{
                            background-color: purple;
                        }

                        &.orange{
                            background-color: orange;
                        }

                        &.pink{
                            background-color: pink;
                        }
                    }

                    
                   
                }
                .x-label{
                    text-align: center;
                    font-size: var(--fontSize);
                    width: 120px;

                   
                }
                .y-label{
                    position: absolute;
                    align-content: center;
                    text-align: right;
                    width: 300PX;
                    height: 100px;
                    left: -305px;
                    font-size: var(--fontSize)
                }
                .cornerTile{}
            }
        }
    }

    footer{
        padding: 3px;
        background-color: aqua;
        text-align: center;
    }
}

dialog.colorPicker{
    background-color: transparent;
        border: none;
        outline: none;
        
    div.colorPicker{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

    
        .playerColorPickerContainer{
            display: flex;
            gap: 100px;
            
            .playerColorPicker{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                padding: 30px;
                background-color: white;
                box-shadow: 1px 1px 1px black;
        
                &.playerOne .playerColor{
                    background-color: blue;
                }  
        
                &.playerTwo .playerColor{
                    background-color: red;
                }  
        
                h3{
                    padding: 0;
                    margin: 0;
                    font-size: 30px;
                }
                .playerColor{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    box-shadow: 1px 1px 1px black;
                }
                .colorChoices{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 150px;
                    gap: 10px;
        
                    & *{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
    
                    .notAllowed{
                        background: no-repeat center/100% url(./assets/cancel.svg);
                    }
        
                    .red{
                        background-color: red;
                    }
                    .blue{
                        background-color: blue;
                    }
                    .yellow{
                        background-color: yellow;
                    }
                    .green{
                        background-color: green;
                    }
                    .purple{
                        background-color: purple;
                    }
                    .orange{
                        background-color: orange;
                    }
                    .pink{
                        background-color: pink;
                    }
                    .black{
                        background-color: black;  
                    }
    
                    .black.notAllowed{
                        
                        background-color: black;  
                        background: no-repeat center/100% url(./assets/blackcancel.svg);
                    }
                }
            }
        }
    
        button{
            font-size: 25px;
            padding: 10px 20px;
            width: fit-content;
        }
    }
}


@keyframes falldown{
    from {
      
      transform: translateY(0px);
    }
  
    to {
        transform: translateY(-800px);
    }
  }



