@font-face{
    font-family: "Fredoka";
    src: url(./assets/Fredoka-Regular.ttf);
}

html,body{
    height: 100vh;
    --fontSize:20px;
}

body{
    display: flex;
    flex-flow: column nowrap;

    main{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .gameBoard{
            cursor: pointer;

            .row{
                position: relative;
                display: flex;
                .tile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px black solid;
                    width: 120px;
                    height: 100px;
                    cursor: pointer;

                    &.invalid{
                        animation: .2s ease-in invalid;
                    }

                    &.winner > .token{
                        animation: .3s ease-in-out infinite flash;
                    }
                    

                    .token{
                        content: "";
                        display: block;
                        border: none;
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                        animation: .5s ease-in-out reverse falldown;

                        

                        &.yellow{
                            background-color: yellow;
                        }

                        &.blue{
                            background-color: blue;
                        }

                        &.green{
                            background-color: green;
                        }

                        &.black{
                            background-color: black
                        }

                        &.purple{
                            background-color: purple;
                        }

                        &.orange{
                            background-color: orange;
                        }

                        &.pink{
                            background-color: pink;
                        }

                        &.red{
                            background-color: red;
                        }

                        
                    }

                    
                   
                }
                .x-label{
                    text-align: center;
                    font-size: var(--fontSize);
                    width: 120px;
                    font-family: "Fredoka", sans-serif;

                   
                }
                .y-label{
                    position: absolute;
                    align-content: center;
                    text-align: right;
                    width: 300PX;
                    height: 100px;
                    left: -305px;
                    font-size: var(--fontSize);
                    font-family: "Fredoka", sans-serif;
                }
                .cornerTile{}
            }
        }
    }

    footer{
        padding: 3px;
        background-color: aqua;
        text-align: center;
    }
}

dialog.colorPicker{
    background-color: transparent;
        border: none;
        outline: none;

    div.colorPicker{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

    
        .playerColorPickerContainer{
            display: flex;
            gap: 100px;
            
            .playerColorPicker{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                padding: 30px;
                background-color: white;
                box-shadow: 1px 1px 1px black;
        
                &.playerOne .playerColor{
                    background-color: blue;
                }  
        
                &.playerTwo .playerColor{
                    background-color: red;
                }  
        
                h3{
                    padding: 0;
                    margin: 0;
                    font-size: 30px;
                }
                .playerColor{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    box-shadow: 1px 1px 1px black;
                }
                .colorChoices{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 150px;
                    gap: 10px;
        
                    & *{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
    
                    .notAllowed{
                        background: no-repeat center/100% url(./assets/cancel.svg);
                    }
        
                    .red{
                        background-color: red;
                    }
                    .blue{
                        background-color: blue;
                    }
                    .yellow{
                        background-color: yellow;
                    }
                    .green{
                        background-color: green;
                    }
                    .purple{
                        background-color: purple;
                    }
                    .orange{
                        background-color: orange;
                    }
                    .pink{
                        background-color: pink;
                    }
                    .black{
                        background-color: black;  
                    }
    
                    .black.notAllowed{
                        
                        background-color: black;  
                        background: no-repeat center/100% url(./assets/blackcancel.svg);
                    }
                }
            }
        }
    
        button{
            font-size: 25px;
            padding: 10px 20px;
            width: fit-content;
            cursor: pointer;
        }
    }
}

dialog.quiz{
    div.quiz{
        display: flex;
        flex-flow: column nowrap;
        gap: 40px;
        width: 50vw;

        .question{
            font-size: 30px;
            text-align: center;
        }

        .scrambledSentence, .userAnswer{
            display: flex;
            flex-flow: row wrap;
            min-height: 100px;
            gap: 20px;

            .word{
                width: fit-content;
                padding: 0 10px;
                background-color: aqua;
                align-content: center;
                font-size: 50px;
                border-radius: 5px;
                box-shadow: 4px 2px 0px 2px #898484;
                font-family: "Fredoka", sans-serif;
                cursor: pointer;
                height: 100px;
            };
                
                
        }

        .userAnswer{
            border-top: 1px black solid;
            padding-top: 10px;
        }

        .buttons{
            .resetButton{
                width: fit-content;
                border-radius: 5px;
                outline: none;
                border: none;
                box-shadow: 2px 2px 1px #adadad;
                font-family: "Fredoka";
                cursor: pointer;
            }
        }
    }
}

dialog.winnerPopup{
    background-color: #ffffffe0;
    .winnerPopup{
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 20px;

        .playerName{
            padding: 0;
            margin: 0;
            font-size: 50px;
        }
        .playerColor{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 1px 1px 1px black;
            outline: 1px black solid;
        }
        .replayButton{
            padding: 5px 10px;
        }
    }
}

dialog.playerFirst{
    background-color: white;
    .playerFirst{
        display: flex;
        flex-flow: column;
        align-items: center;

        .playerName{
            padding: 0;
            margin:0px;
            font-size: 50px;
        }
        .playerColor{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 1px 1px 1px black;
            outline: 1px black solid;
        }

        .playerFirstText{
            padding: 5px 10px;
            font-size: 30px;
        }

        .startButton{
            padding: 5px 10px;
            font-size: 30px;
        }
    }
}


@keyframes falldown{
    from {
      
      transform: translateY(0px);
    }
  
    to {
        transform: translateY(-800px);
    }
  }

  @keyframes invalid {
    from{
        background-color: red;
    }
    to{
        background-color: white;
    }
}

/* @keyframes flash {
    0%{background-color: yellow;}
    100%{background-color: gold;}
} */

@keyframes flash {

    0%{
        background: linear-gradient(gold, 25%, yellow);
    }

    20%{
        background: linear-gradient(gold, 50%, yellow);
    }

    30%{
        background: linear-gradient(gold, 75%, yellow);
    }

    40%{
        background: linear-gradient(gold, 100%, yellow);
    }


    60%{
        background: linear-gradient(yellow, 25%, gold);
    }

    70%{
        background: linear-gradient(yellow, 50%, gold);
    }

    80%{
        background: linear-gradient(yellow, 75%, gold);
    }

    100%{
        background: linear-gradient(yellow, 90%, gold);
    }

}



