html,body{
    height: 100vh;
    --fontSize:20px;
}

body{
    display: flex;
    flex-flow: column nowrap;

    main{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .gameBoard{

            .row{
                position: relative;
                display: flex;
                .tile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px black solid;
                    width: 120px;
                    height: 100px;
                    

                    &.token::after{
                        content: "";
                        display: block;
                        border: none;
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                        background-color: red;
                        animation: 1s ease-in-out reverse falldown;
                    }

                    
                   
                }
                .x-label{
                    text-align: center;
                    font-size: var(--fontSize);
                    width: 120px;

                   
                }
                .y-label{
                    position: absolute;
                    align-content: center;
                    text-align: right;
                    width: 300PX;
                    height: 100px;
                    left: -305px;
                    font-size: var(--fontSize)
                }
                .cornerTile{}
            }
        }
    }

    footer{
        padding: 3px;
        background-color: aqua;
        text-align: center;
    }
}

@keyframes falldown{
    from {
      
      transform: translateY(0px);
    }
  
    to {
        transform: translateY(-800px);
    }
  }


